.contact {
  padding: 8rem 9% !important;
}
.contact .row .contactInfo {
  padding: 2rem 2.5rem;
  box-shadow: 0 0.5rem 1.5rem rgb(0 0 0 / 10%);
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  background: #fff;
  border-radius: 0.5rem;
}
.Contactheading {
  font-size: 20px;
}
.contact .row .contactInfo .box {
  position: relative;
  padding: 16px 0;
  display: flex;
}
.contact .row .contactInfo .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #000;
  flex-direction: column;
  font-weight: 300;
}
.contact .row {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}
.contact .row .contactInfo .box .iconi {
  color: rgb(83, 192, 142);
  margin: 14px 2px 14px 14px;
}

.contact .row form {
  flex: 1 1 40rem;
  padding: 2rem 2.5rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  background: #fff;
  border-radius: 0.5rem;
  max-width: 500px;
}

.contact .row .image {
  flex: 1 1 40rem;
}

.contact .row .image img {
  width: 100%;
}

.contact .row form .box {
  padding: 1rem;
  font-size: 1.7rem;
  color: #333;
  text-transform: none;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  margin: 0.7rem 0;
  width: 100%;
}

.contact .row form .box:focus {
  border-color: var(--pink);
}

.contact .row form textarea {
  height: 15rem;
  resize: none;
}
@media (max-width: 768px) {
  .contact .row {
    display: flex;
    flex-direction: column;
  }
  .contact .row .contactInfo .box .text {
    display: flex;
    margin-left: 8px;
    font-size: 16px;
    color: #000;
    flex-direction: column;
    font-weight: 300;
  }
  .contact .row .contactInfo {
    width: 100%;
    padding: 0;
  }
  .contact .row .contactInfo .box {
    padding: 3px 0;
  }
  .contact .row .contactInfo .box .iconi {
    margin: 14px 2px 14px 5px;
}
}
